@model IEnumerable<WebApplication2.List>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lists</title>
    @Styles.Render("~/Content/css")


</head>
<body>
    <div class="container">
        <h3>Список оценок</h3>
        <a style="text-align:right" , href="CreateStudent/">Добавить оценку</a>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student.name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.name)
                    </td>
                    <td>
                        <p>
                            <a style="margin-bottom: 0px; background: transparent" , href="EditList/@item.list_id">Изменить</a>
                            <a style="margin-bottom: 0px; margin-top: 0px; background: transparent" , href="DeleteList/@item.list_id"></a>
                        </p>
                    </td>
                </tr>
            }

        </table>
        </div>
</body>
</html>
