@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


    <div class="container">
        
        <h3>Список Студентов  </h3>
        <table class="table table-striped">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Группа</th>
                <th></th>
            </tr>

            @foreach (Student student in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelStudent => student.surname)</td>
                    <td>@Html.DisplayFor(modelStudent => student.name)</td>
                    <td>@Html.DisplayFor(modelStudent => student.patronymic)</td>
                    <td>@Html.DisplayFor(modelStudent => student.group)</td>
                    <td><p><a style="background: transparent", href="/Home/EditStudent/@student.student_id">Изменить</a></p></td>
                    @*добавить удаление в еще один столбец/
                        добавление выше таблицы*@
                </tr>
            }
        </table>
    </div>
