@model IEnumerable<WebApplication2.Student>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>Список студентов</h3>
    <a style="text-align:right", href="Edit/">Добавить студента</a>   
    <ul class="pagination">
        @*@foreach()*@
        <li><a href="?pageNumber=1">1</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">»</a></li>
    </ul>
    <p></p>
    <table class="table table-striped">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Группа</th>
            <th>Действия</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.group)
                </td>
                <td>
                    <p>
                        <a style="margin-bottom: 0px; background: transparent",  href="Edit/@item.student_id">Изменить</a>
                        <a style="margin-bottom: 0px; margin-top: 0px; background: transparent",  href="Delete/@item.student_id"></a>
                    </p>
                </td>
            </tr>
        }
    </table>
